/* footer-style-global */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer-block {
  display: block;
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    text-align: start;
  }
}

.address-box {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.address-box__logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: $colorTextBlue;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
  &--color {
    color: $colorTextSecondary;
  }
}
.address {
  margin-top: 20px;
  &__link {
    color: $colorTextSecondary;
    text-decoration: none;
  }
  &__contact {
    text-decoration: none;
    color: #acaab0;
  }
}
.address__list {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}
.address__item {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.74;
  font-weight: normal;
  padding-top: 9px;
}

.social-box {
  @media screen and (min-width: 768px) {
    margin-left: 165px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
  }
  &__title {
    color: $colorTextSecondary;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .social-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    &__item:not(:last-child) {
      margin-right: 10px;
    }
    &__link {
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: #43444d;
    }
    &__svg {
      width: 20px;
      height: 20px;
      fill: $colorIconFill;
    }
    &__item :hover,
    &__item :focus {
      background-color: $colorBackgroundBlue;
      transition: $time-delay250ms;
    }
    &__item :hover &__svg,
    &__item :focus &__svg {
      fill: $colorIconFill;
      transition: $time-delay250ms;
    }
  }
}
.subscribe-box {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  @media screen and (min-width: 1200px) {
    margin-top: 0px;
    margin-left: auto;
    margin-right: 0px;
  }
  &__title {
    color: $colorTextSecondary;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}
.footer-input {
  display: block;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
  .subscribe-input {
    display: block;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    // padding: 16px 15px;
    color: $colorTextSecondary;
    background-color: var(--color-footer-bg);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    @media screen and (min-width: 768px) {
      width: 480px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 12px;
      width: 358px;
    }
  }
  .subscribe-btn {
    display: flex;
    margin: 0 auto;
    padding: 12px 29px;
    height: 50px;
    border-radius: 4px;
    border-color: transparent;
    background-color: $colorBackgroundBlue;
    color: $colorTextSecondary;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    cursor: pointer;
    &__icon {
      width: 24px;
      height: 24px;
      fill: $colorIconFill;
      margin-left: 10px;
    }
  }
}
.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
