/* header-style-global */
.header-line {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 16px;
  padding-bottom: 16px;
  @media screen and (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header-nav {
  position: relative;
  display: flex;
  align-items: center;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 480px;
  }
  &__logo {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.08;
    color: $colorTextBlue;
    text-decoration: none;

    @media screen and (min-width: 1200px) {
      font-size: 26px;
      line-height: 1.19;
    }
  }
  &__logo--color {
    color: #000000;
  }
}
// -----------------------------
.header-nav__menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // font-size: 20px;
  padding: 48px 40px;
  background-color: $colorBackgroundPrimary;

  &.is-open {
    display: block;
    position: fixed;
    z-index: 1;
    overflow-y: scroll;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}
.header-nav__mobile--button .icon-close {
  display: none;
}
.header-nav__mobile--button.is-open .icon-close {
  display: block;
}
.header-nav__mobile--button.is-open .icon-menu {
  display: none;
}

.header-nav__mobile--button.is-open .header-nav__logo {
  display: none;
}
.header-nav__mobile--button {
  position: absolute;
  padding: 0px;
  right: 15px;
  // margin-left: auto;
  background-color: transparent;
  border: none;
  z-index: 3;

  .icon {
    padding: 11px;
    fill: $colorIconPrimary;
    cursor: pointer;
  }
  &:hover .icon-close,
  &:focus .icon-close,
  &:hover .icon-menu,
  &:focus .icon-menu {
    fill: $colorIconBlue;
    transition: $time-delay250ms;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.header-nav__mobile--button.is-open {
  position: fixed;
}
/* site-nav */
.site-nav {
  // display: flex;
  // margin-left: 93px;
  // display: block;
  color: $colorTextPrimary;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-decoration: none;

  &__item {
    margin-bottom: 36px;
    &:last-child {
      margin-bottom: 0px;
    }
  }
  // &__item:not(:first-child) {
  //   margin-left: 50px;
  // }
  &__link {
    // display: block;
    // padding-top: 32px;
    // padding-bottom: 32px;

    color: $colorTextPrimary;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $colorTextBlue;
    }
  }
  &__link--active {
    color: $colorBackgroundBlue;
    position: relative;
    // &::after {
    //   position: absolute;
    //   display: block;
    //   content: "";
    //   text-align: center;
    //   width: 100%;
    //   height: 1px;
    //   bottom: -1px;
    //   background-color: $colorBackgroundBlue;
    //   border: 2px solid;
    //   border-radius: 10px;
    // }
  }
}
// /* site-contact */
.site-contact {
  // display: flex;
  // margin-left: auto;
  display: flex;
  flex-direction: column-reverse;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-top: 302px;
  // &__item:not(:first-child) {
  //   margin-left: 50px;
  // }
  &__item {
    margin-bottom: 32px;
    &:first-child {
      margin-bottom: 0px;
      font-size: 24px;
      line-height: 28px;
    }
    &:last-child {
      font-size: 34px;
      line-height: 1.17;
    }
  }
  &__link {
    color: $colorTextSilver;

    // &:first-child {
    //   color: $colorTextSilver;
    // }
    // &:last-child {
    //   color: $colorTextBlue;
    // }
    text-decoration: none;
    margin-bottom: 32px;
    // display: inline-flex;
    // align-items: center;
    .site-contact__svg {
      display: none;
      // margin-right: 10px;
      // fill: $colorIconSilver;
    }
    // &:hover .site-contact__svg--mail,
    // &:focus .site-contact__svg--mail {
    //   fill: $colorIconBlue;
    //   transition: $time-delay250ms;
    // }
    // &:hover .site-contact__svg--tel,
    // &:focus .site-contact__svg--tel {
    //   fill: $colorIconBlue;
    //   transition: $time-delay250ms;
    // }
    &:hover,
    &:focus {
      color: $colorIconBlue;
      transition: $time-delay250ms;
    }
  }
}
// site-social
.site-social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 64px;
  &__list {
    border-right: 1px solid #d3d3d3;
    margin-left: 10px;
    &:last-child {
      border-right: none;
    }
    &:first-child {
      margin-left: 0px;
    }
  }
  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    margin-right: 10px;
    color: $colorTextBlue;
    text-decoration: none;
  }
}
// ---------------------------------------

// @media screen and (min-width: 768px) {
//   // ---------------------------
//   /* header-style-global */
//   .header-line {
//     border-bottom: 1px solid #e5e5e5;
//     // max-width: 768px;
//     .header-nav {
//       max-width: 768px;
//       display: flex;
//       align-items: center;
//       &__logo {
//         font-family: "Raleway", sans-serif;
//         font-weight: bold;
//         font-size: 26px;
//         color: $colorTextBlue;
//         text-decoration: none;
//       }
//       &__logo--color {
//         color: #000000;
//       }
//     }
//   }
//   .header-nav__menu {
//     // display: none;
//     display: inline-flex;
//     // align-items: baseline;
//     position: none;
//     // top: 0;
//     // left: 0;
//     // width: 100vw;
//     // height: 100vh;
//     font-size: 20px;
//     width: 768px;
//     background-color: $colorBackgroundPrimary;
//     // z-index: 1;
//     // &.is-open {
//     //   display: block;
//     //   padding: 48px 40px;
//     // }
//   }

//   .header-nav__mobile--button {
//     display: none;
//   }
//   /* site-nav */
//   .site-nav {
//     display: flex;
//     margin-left: 88px;
//     color: $colorTextPrimary;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     text-decoration: none;
//     &__item:not(:first-child) {
//       margin-left: 50px;
//     }
//     &__link {
//       display: block;
//       padding-top: 32px;
//       padding-bottom: 32px;

//       color: $colorTextPrimary;
//       text-decoration: none;
//       &:hover,
//       &:focus {
//         color: $colorTextBlue;
//       }
//     }
//     &__link--active {
//       color: $colorBackgroundBlue;
//       position: relative;
//       &::after {
//         position: absolute;
//         display: block;
//         content: "";
//         text-align: center;
//         width: 100%;
//         height: 1px;
//         bottom: -1px;
//         background-color: $colorBackgroundBlue;
//         border: 2px solid;
//         border-radius: 10px;
//       }
//     }
//   }
//   /* site-contact */
//   .site-contact {
//     display: flex;
//     flex-direction: column;
//     margin-left: auto;
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     margin-top: 21px;
//     margin-bottom: 21px;
//     &__item:not(:first-child) {
//       margin-top: 10px;
//     }
//     &__link {
//       color: $colorTextSilver;
//       text-decoration: none;
//       display: inline-flex;
//       align-items: center;
//       .site-contact__svg {
//         margin-right: 10px;
//         fill: $colorIconSilver;
//       }
//       &:hover .site-contact__svg--mail,
//       &:focus .site-contact__svg--mail {
//         fill: $colorIconBlue;
//         transition: $time-delay250ms;
//       }
//       &:hover .site-contact__svg--tel,
//       &:focus .site-contact__svg--tel {
//         fill: $colorIconBlue;
//         transition: $time-delay250ms;
//       }
//       &:hover,
//       &:hover {
//         color: $colorIconBlue;
//         transition: $time-delay250ms;
//       }
//     }
//   }
// }
// .site-social {
//   display: none;
//   // display: inline-flex;
//   // justify-content: center;
//   // align-items: center;
//   // flex-wrap: wrap;
//   // margin-top: 64px;
//   // &__list {
//   //   border-right: 1px solid #d3d3d3;
//   //   margin-left: 10px;
//   //   &:last-child {
//   //     border-right: none;
//   //   }
//   //   &:first-child {
//   //     margin-left: 0px;
//   //   }
//   // }
//   // &__link {
//   //   font-style: normal;
//   //   font-weight: 500;
//   //   font-size: 18px;
//   //   line-height: 1.22;
//   //   letter-spacing: 0.02em;
//   //   margin-right: 10px;
//   //   color: $colorTextBlue;
//   //   text-decoration: none;
//   // }
// }
// ---------------------------
/* header-style-global */
// .header-line {
//   border-bottom: 1px solid #e5e5e5;
//   .header-nav {
//     display: flex;
//     align-items: center;
//     &__logo {
//       font-family: "Raleway", sans-serif;
//       font-weight: bold;
//       font-size: 26px;
//       color: $colorTextBlue;
//       text-decoration: none;
//     }
//     &__logo--color {
//       color: #000000;
//     }
//   }
// }
// /* site-nav */
// .site-nav {
//   display: flex;
//   margin-left: 93px;
//   color: $colorTextPrimary;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   text-decoration: none;
//   &__item:not(:first-child) {
//     margin-left: 50px;
//   }
//   &__link {
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;

//     color: $colorTextPrimary;
//     text-decoration: none;
//     &:hover,
//     &:focus {
//       color: $colorTextBlue;
//     }
//   }
//   &__link--active {
//     color: $colorBackgroundBlue;
//     position: relative;
//     &::after {
//       position: absolute;
//       display: block;
//       content: "";
//       text-align: center;
//       width: 100%;
//       height: 1px;
//       bottom: -1px;
//       background-color: $colorBackgroundBlue;
//       border: 2px solid;
//       border-radius: 10px;
//     }
//   }
// }
// /* site-contact */
// .site-contact {
//   display: flex;
//   margin-left: auto;

//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   &__item:not(:first-child) {
//     margin-left: 50px;
//   }
//   &__link {
//     color: $colorTextSilver;
//     text-decoration: none;
//     display: inline-flex;
//     align-items: center;
//     .site-contact__svg {
//       margin-right: 10px;
//       fill: $colorIconSilver;
//     }
//     &:hover .site-contact__svg--mail,
//     &:focus .site-contact__svg--mail {
//       fill: $colorIconBlue;
//       transition: $time-delay250ms;
//     }
//     &:hover .site-contact__svg--tel,
//     &:focus .site-contact__svg--tel {
//       fill: $colorIconBlue;
//       transition: $time-delay250ms;
//     }
//     &:hover,
//     &:hover {
//       color: $colorIconBlue;
//       transition: $time-delay250ms;
//     }
//   }
// }
