/* photo-studio */
.photo-box {
  padding-bottom: 94px;
  .photo__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $colorTextPrimary;
  }
  .photo-grid {
    display: flex;
    &__item + .photo-grid__item {
      margin-left: 30px;
    }
    .photo-block {
      position: relative;
      .bottom-block {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        width: 370px;
        height: 70px;
        left: 0;
        bottom: 0;
        background: rgba(47, 48, 58, 0.8);
        &__text {
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: $colorTextSecondary;
        }
      }
    }
  }
}
