/* studio-team */
.team-box {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $colorBackgroundWhiteSecondary;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.studio__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: $colorTextPrimary;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}
.studio-team {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  justify-content: center;
  align-items: center;
}
.studio-team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $colorBackgroundPrimary;
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: 100%;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
  padding-top: 30px;
  padding-bottom: 24px;
}
.team-card {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}
.studio-team__worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;
  color: $colorTextPrimary;
  margin-bottom: 10px;
}
.studio-team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
  color: $colorTextSilver;
}

.social-grid {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__list:not(:last-child) {
  margin-right: 10px;
}
.social-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $colorBackgroundPrimary;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &__icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
  }
  &:hover,
  &:focus {
    background-color: $colorBackgroundBlue;
    transition: $time-delay250ms;
  }
  &:hover .social-link__icon,
  &:focus .social-link__icon {
    fill: $colorIconFill;
    transition: $time-delay250ms;
  }
}
