/* studio-custumers  */
.customers {
  margin-bottom: 60px;
  .customers__title {
    margin-top: 60px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
.customers-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  justify-content: center;
  &__item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc((100% - 60px) / 2);
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 90px) / 3);
    }

    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 180px) / 6);
    }
  }
  .customers-link {
    display: flex;
    width: 100%;
    height: 92px;

    justify-content: center;
    align-items: center;

    border: 1px solid #afb1b8;
    border-radius: 4px;
    &__icon {
      width: 85px;
      height: 41px;
      fill: #afb1b8;
    }
    &:hover .customers-link__icon,
    &:focus .customers-link__icon {
      fill: $colorIconBlue;
      transition: $time-delay250ms;
    }
    &:hover,
    &:focus {
      border: 1px solid $colorBackgroundBlue;
      transition: $time-delay250ms;
    }
  }
}
